@import '../../design-vars.scss';

.content-directory {

  .container {
    font-family: 'Gotham Bold';

    main {
      display: flex;
      flex-wrap: wrap;

      .main-content {
        color: #606060;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;

        img {
          max-width: 500px;
          width: 100%;
          text-align: left;
          margin-inline-start: -200px;
          position: absolute;
          z-index: 0;
          bottom: 0;
        }
      }

      .categories-content {
        flex: 1;
        text-align: right;

        h2 {
          color: var(--color-blue-directory);
        }

        .cards {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;

          a {
            text-decoration: none;

            .card {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              margin: 15px;
              padding: 30px;
              color: var(--color-blue-directory);
              font-weight: bold;
              text-align: center;
              font-family: 'Oswald Demi Bold';
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.314);
              max-width: 40px;
              width: 100%;
              max-height: 80px;
              height: 100%;
              border-radius: 15px;

              .card-image {
                img {
                  max-width: 80px;
                  width: 100%;
                }
              }

              .card-text {
                h3 {
                  text-align: left;
                  font-size: 10px;
                }
              }

              &:hover {
                background: var(--color-blue-directory);
                color: var(--color-white);
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.314);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .content-directory {
    text-align: center;
    font-size: 15px;
    display: flex;
    max-width: 600px;
    width: 100%;

    .container {

      main {
        display: block;
      }

      .main-content {
        img {
          display: none;
        }

        h2 {
          font-size: 20px;
        }
      }
    }

    .categories-content {

      h2 {
        text-align: center;
      }
    }
  }
}