@import '../../design-vars.scss';

.content-directory {
  font-family: 'Roboto', sans-serif;

  .container {

    main {
      display: flex;
      font-size: 12px;

      .main-content {
        color: var(--color-white);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;

        h2 {
          width: 50%;
          font-weight: 500;
        }

        h3 {
          font-weight: 400;

          a {
            color: var(--color-white);

            &:hover {
              color: var(--color-tertiary);
            }
          }
        }

        .emoji {
          color: var(--color-secondary);
        }

        figure {
          margin: 0;

          img {
            width: 500px;
          }
        }
      }

      .categories-content {
        text-align: right;

        h2 {
          color: var(--color-blue-directory);
        }

        .cards {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;

          a {
            text-decoration: none;
            margin: 15px;

            .card {
              background: #fff;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 5px 0;
              color: var(--color-blue-directory);
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.314);
              width: 130px;
              height: 90px;
              border-radius: 15px;

              .card-image {
                img {
                  max-width: 40px;
                  width: 100%;
                  height: 100%;
                }
              }

              .card-text {
                h3 {
                  text-align: center;
                  font-size: 12px;
                  margin-block: 5px;
                  font-weight: 500;
                }
              }

              &:hover {
                background: var(--color-blue-directory);
                color: var(--color-white);
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.314);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 840px){
  .content-directory {

    .container {
      main {
        flex-wrap: wrap;

        .main-content {

          h2 {
            margin: auto;
          }

          h3 {
            color: var(--color-blue-directory);

            a {
              color: var(--color-blue-directory);
            }
          }
        }

      }
    }

  }
}

@media screen and (max-width: 650px) {
  .content-directory {
    text-align: center;
    font-size: 15px;
    display: flex;
    max-width: 600px;
    width: 100%;

    .container {

      main {
        display: block;
      }

      .main-content {
        img {
          display: none;
        }

        h2 {
          color: var(--color-blue-directory);
          font-size: 20px;
          margin: auto;
        }

        h3 {
          color: var(--color-blue-directory);

          a {
            color: var(--color-blue-directory);
          }
        }
      }
    }

    .categories-content {

      h2 {
        text-align: center;
      }
    }
  }
}