@import '../../design-vars.scss';

.directory-main {
  background: url('../../Components/assets/images/vector-back.png') no-repeat left center fixed;
  background-size: contain;
  padding-block: 80px;
}