@import '../../design-vars.scss';

.footer-directory {
  .container {
    .main-logo {
      img {
        max-width: 700px;
        width: 100%;
        // margin-inline: 30px;
        text-align: left;
        position: relative;
        left: 0;
      }
    }
  }
}