@import '../../design-vars.scss';

.header-directory {
  background: transparent;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .main-logo {
      figure {
        margin: 0;
        img {
          max-width: 300px;
          width: 100%;
          margin-inline: 30px;
        }
      }
    }

    .complementary-content {
      text-align: right;

      h1 {
        margin: 0;
        font-family: 'Gotham bold';
        font-size: 30px;
        color: var(--color-blue-directory);
      }

      h2 {
        margin: 0;
        font-family: 'Gotham bold';
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .header-directory {

    .container {

      .main-logo {
        margin: auto;

        figure {

          img {
            max-width: 200px;
          }
        }
      }

      .complementary-content {
        text-align: center;
        margin: auto;

        h1 {
          font-size: 20px;
        }

        h2 {
          font-size: 16px;
        }
      }
    }
  }
}